    <div class="jumbotron homeJumbo"> 
      <img src="/images/brenan-greene-HPZs4EXRFSU-unsplash.jpg" class="img-r img-fluid">
    </div>



  <div class="container my-4 categoryOptions">
    <div class="row">
      <!-- RECIPE CATEGORIES -->
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn catBtn" name="category" value="entree">main course</button>
        <button type="button" class="btn catBtn" name="category" value="side%20dish">side dish</button>
        <button type="button" class="btn catBtn" name="category" value="appetizer">appetizer</button>
        <button type="button" class="btn catBtn" name="category" value="salad">salad</button>
        <button type="button" class="btn catBtn" name="category" value="dessert">dessert</button>
        <form class="d-flex search-form" id="search-form">
          <input class="form-control me-2 searchField" type="search" placeholder="Search" aria-label="recipe search" id="recipe-search">
            <button class="btn btn-outline-success searchBtn" type="button" id="search-btn">Search</button>
        </form>
      </div>
    </div>
  </div>     
      
          <!-- FOOD CATEGORIES -->
  <div class="container">
    <div class="row">
      <div class="col-sm-4 align-middle">
        <p class="casseroleText text-center fs-3"><span class="align-middle">Tuscana Pasta</span></p>
        <div class="ingredients">
          <div class="ingrediensHeader">
            <div class="ingTitle fw-bold my-2">
              Ingredients
            </div>
            <div class="ingNeeded container">
              <div class="ingItem row">
                <div class="col">
                <span class="amount">
                  4 servings 
                </span>
                <span class="ingDescription">
                  basil
                </span>
              </div>
              <div class="ingItem">
                <span class="amount">
                  15 oz 
                </span>
                <span class="ingDescription">
                  canned cannelini beans
                </span>
              </div>
              <div class="ingItem">
                <span class="amount">
                  15 oz
                </span>
                <span class="ingDescription">
                  canned tomatoes
                </span>
              </div>
              <div class="ingItem">
                <span class="amount">
                  0.5 tsps 
                </span>
                <span class="ingDescription">
                  chili flakes
                </span>
              </div>
              <div class="ingItem">
                <span class="amount">
                  2  garlic cloves
                </span>
                <span class="ingDescription">
                  garlic cloves
                </span>
              <div class="ingItem">
                <span class="amount">
                  4 servings 
                </span>
                <span class="ingDescription">
                  parmesan cheese
                </span>
              </div>
              <div class="ingItem">
                <span class="amount">
                  1 bunch
                </span>
                <span class="ingDescription">
                  swiss chard
                </span>
              </div>
              <div class="ingItem">
                <span class="amount">
                  8 oz 
                </span>
                <span class="ingDescription">
                  whole wheat pasta
                </span>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>


        <div class="directions">
          <div class="directionHeader">
            <div class="directionTitle fw-bold my-2">
              Directions
            </div>
          <div class="directionsBody">
            <div class="directionsection section1">
              <p class="directionPrg">Cook pasta according to package instructions. Note: For al dente pasta, cook one minute less than package suggests.)Reserve ½ c starchy cooking liquid before straining pasta; set pasta aside. Meanwhile, heat olive oil in the same pot you cooked the pasta over medium-high heat.Add Swiss chard stems and a good pinch of salt.Saute for 5-7 minutes until stems start to soften.Add in roughly chopped Swiss chard leaves and reserved cooking liquid.Put cover on the pan and let steam to wilt about 2-3 minutes.Stir in chili flakes, garlic, tomatoes and beans. Cook for 5 minutes to warm through.Toss in reserved pasta. Serve with fresh parsley, basil and parmesan cheese.</p>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="col-sm-8">
        <img src="/images/pastaDish.jpg" alt="foodimage" class="img-fluid" width="1000" height="500" >
      </div>
    </div>
  </div>

      <div id="container recipeList">
            <div class="row recipeCards" id="recipeContainer">



      </div>
      </div>


  <script src="/javascript/homepage.js"></script>