      <!-- BACKGROUND IMAGE -->
      <div class="jumbotron ">
          <img src="/images/hero.jpg" class="img-r img-fluid ">
      </div>



      <div class="container">
        <hr>
        <h2 class="hangryYou test-center py-5">Make hungry monster happy in 3 steps:</span></h2>
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <img style="margin-left:40px;" class="rounded-circle profilePic" src="/images/icons8-ingredients-500 2.png" width="300" height="300" />
            <h2 class="steps text-center pt-5">Find what's good</h2>
            <p class="text-center">recipe that speaks to your stomach</p>
          </div>
          <div class="col-md-4">
            <img style="margin-left:40px;" class="rounded-circle profilePic" src="/images/icons8-fondue-500.png" width="300" height="300" />
            <h2 class="steps text-center pt-5">Throw down in the kitchen</h2>
            <p class="text-center">chop whisk flambe</p>
          </div>
          <div class="col-md-4">
            <img style="margin-left:40px;" class="rounded-circle profilePic" src="/images/icons8-hamburger-500.png" width="300" height="300" />
            <h2 class="steps text-center pt-5">Feed the beast</h2>
            <p class="text-center">eat your tasty creation and feed your friends too</p>
          </div>
        </div>
        <hr>

      </div>