<div class="about-section">
  <h1>My Account</h1>
  <p><p>
</div>

<h2 style="text-align:center">About Me</h2>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/views/myaccount.handlebars">My Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/views/homepage.handlebars">Home</a>
  </li>
</ul>


<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://via.placeholder.com/300.png/" alt="Placeholder" style="width:100%">
      <div class="container">
        {{#if reviews.length}}
<section>
  <h2>My reviews</h2>
  <ol> 
    {{#each reviews as |review|}}
    <li>
      {{review.review_text}}</li>
      <p><a href="/dashboard/edit/{{review.id}}" class="edit-link">Edit Review</a>
    </p>
    {{/each}}
  </ol>
</section>
{{/if}}
      </div>
    </div>
  </div>
</div>