<br>
<div class="about-section">
  <h1 class="mx-5">My Reviews</h1>
  <p><p>
</div>


<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        {{#if reviews.length}}
<section>
    {{#each reviews as |review|}}
    <div class="border border-1 mb-1" id="dashboard-reviews">
      <p class="mx-3 pt-2">{{review.review_text}}</p>
      <p><a href="/dashboard/edit/{{review.id}}" class="edit-link btn btn-lg btn-primary btn-block text-uppercase signUpBtn mx-5 signup-form">Edit post</a></p>

    </div>
    {{/each}}
</section>
{{/if}}
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<script>
const user.dataValues.user_image = {{review.user.user_image}}

</script>
{{!-- <script src="/javascript/delete-review.js"></script>
<script src="/javascript/edit--review.js"></script> --}}

