<div class="about-section">
  <h1>My Account</h1>
  <p><p>
</div>

<h2 style="text-align:center">About Me</h2>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/myaccount">My Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/homepage">Home</a>
  </li>
</ul>


 <a class="navbar-brand" href="/landing">Please</a>
 <a class="dropdown-item myAccountNav" href="/myaccount">GsdfgsghsfPoop</a>

