<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css"/>

    <script
			src="https://kit.fontawesome.com/f78f1848e0.js"
			crossorigin="anonymous"
		></script>

    <!-- FONT AWESOME IMPORT  --> 
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
    </style>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    </style>
    <title>Miso Hungry | Recipies</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand head fs-1" href="#">Miso Hungry</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
          <li class="nav-item active">
            <a class="nav-link" href="#">Sign Up <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log In</a>
          </li>
        </ul>
    </div>
  </nav>
  
<h2 style="text-align:center">Recipies</h2>
<div class="row">
<!-- recipes -->

<!-- submit a review -->
<button type="button">Submit a Review!</button>


<div class="prefooter">
        <div class="row text-center">
          <div class="col-4 fw-bold">SITE MAP</div>
          <div class="col-4 fw-bold">HELPFUL LINKS</div>
          <div class="col-4 fw-bold">COMMUNITY</div>
			  </div>
        <div class="row text-center">
          <div class="col-4 footsm"><a class="sm" href="#">Sign up</a></div>
          <div class="col-4 footsm"><a class="sm" href="#">Contact us</a></div>
          <div class="col-4 footsm"><a class="sm" href="#">Local produce</a></div>
			  </div>
        <div class="row text-center">
          <div class="col-4 footsm"><a class="sm" href="#">Log in</a></div>
          <div class="col-4 footsm"><a class="sm" href="#">Help</a></div>
          <div class="col-4 footsm"><a class="sm" href="#">Give Back</a></div>
			  </div>
        <div class="row text-center">
          <div class="col-4 footsm"><a class="sm" href="#">About Us</a></div>
          <div class="col-4 footsm"></div>
          <div class="col-4 footsm"></div>
			  </div>
        <div class="content has-text-centered container">
          <div class="row text-center">
            <div class="col-12">
              <a class="sm px-2" href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter socialMedia"></i></a>
              <a class="sm px-2" href="https://www.pinterest.com/" target="_blank"><i class="fab fa-pinterest-p socialMedia"></i></a>
              <a class="sm px-2" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square socialMedia"></i></a>
              <a class="sm px-2" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram socialMedia"></i></a>
              <!-- <p class="connect footsm">connect with us</p> -->
            </div>
          </div>
      </div>

    <!-- FOOTER -->
		<footer class="footer">
        <div class="content has-text-centered container">
          <div class="row text-center">
            <div class="col-12 footsm">
              <p>Special thanks to: Rebecca N. | Ronnie R. | Byrant U. | Mimi V.</p>
            </div>
          </div>
        </div>
		  </footer>

    <!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html> 