<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand head fs-1" href="#">Miso Hungry</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
          <li class="nav-item active">
            <a class="nav-link" href="#">Sign Up <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log In</a>
          </li>
        </ul>
    </div>
  </nav>
  
<h2 style="text-align:center">Recipies</h2>
<div class="row">
<!-- recipes -->
<div id="recipeDetailsContainer"></div>
<!-- submit a review -->
<button type="button">Submit a Review!</button>

</body>
</html> 