  <div class="recipePgTitle text-center">
    <h1>Looks delish!</h1>
  </div>

  <div class="container singleRecipeData">
    <div class="row">
  <!-- recipes -->
  {{!-- <button type="button" id="add-list-btn">+ shopping</button> --}}
  <div id="recipeDetailsContainer">

  </div>
</div>
  <!-- submit a review -->
  <form class="review-form">
  <div>
      <textarea class="form-control" name="review-body" rows="3"></textarea>
  </div>
  
  <button type="submit" class="btn btn-lg btn-primary submiReview btn-block text-uppercase signUpBtn mx-1 signup-form" id="submit-review-btn">Submit a Review!</button>
  </form>

 {{!-- {{> reviews review}} --}}

<script>
  const recipeId = {{id}}
</script>
{{!-- <script>
  const listId = {{list_id}}
</script> --}}
  <script src="/javascript/homepage.js"></script>
  <script src="/javascript/recipe.js"></script>
  <script src="/javascript/add-review.js"></script>
