<h2 style="text-align:center">Recipes</h2>
<div class="row">
<!-- recipes -->
<button type="button" id="add-list-btn">+ shopping</button>
<div id="recipeDetailsContainer"></div>

<!-- submit a review -->
<form class="review-form">
<div>
    <textarea class="form-control" name="review-body" rows="3"></textarea>
</div>
<button type="submit" id="submit-review-btn">Submit a Review!</button>
</form>

 {{> reviews}}

<script>
  const recipeId = {{id}}
</script>
{{!-- <script>
  const listId = {{list_id}}
</script> --}}
  {{!-- <script src="/javascript/homepage.js"></script> --}}
  <script src="/javascript/recipe.js"></script>
  <script src="/javascript/add-review.js"></script>
