  <div class="recipePgTitle text-center">
    <h1>Whoa! That looks delish!</h1>
  </div>

  <div class="container singleRecipeData mx-4 my-4">
    <div class="row">
      <div class="col-sm-6 text-center" id="singleRecipeTitle">

      </div>
      <div class="col-sm-6" id="singleRecipeImage">

      </div>
  <!-- recipes -->
  {{!-- <button type="button" id="add-list-btn">+ shopping</button> --}}
  <div id="recipeDetailsContainer">

  </div>
</div>
  <!-- submit a review -->
  <div class="container mx-4 my-4">
  <form class="review-form">
  <div>
      <textarea class="form-control" name="review-body" rows="3"></textarea>
  </div>
  
  <button type="submit" class="btn btn-lg btn-primary submiReview btn-block text-uppercase signUpBtn mx-1 signup-form" id="submit-review-btn">Submit a Review!</button>
  </form>
</div>
 {{!-- {{> reviews review}} --}}
{{#each reviews as |review|}}
  {{!-- {{review.review_text}} --}}
  {{>reviews-info review}}
{{/each}}

<script>
  const recipeId = {{id}}
</script>
  <script src="/javascript/homepage.js"></script>
  <script src="/javascript/recipe.js"></script>
  {{!-- <script src="/javascript/add-review.js"></script> --}}
