<div>
    <h2 class= "px-4 my-4 mx-4">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-star"></i> 
    Reviews
    </h2>
    <p class= "px-4 my-4 mx-4">Make edits to your reviews. Go on, don't be shy.</p>
</div>


<section class="update-post-container align-middle">
    {{!-- <div class="d-flex "> --}}
        <form class="card edit-post-form" style="padding-bottom: 400px">
            <div class="form-group my-4 mx-5">
                {{!-- <label for="post-content">content</label> --}}
                <textarea id="edit-post-content" class="form-control" rows="3" name="post-content">{{review.review_text}}</textarea>
            </div>
            {{!-- <div class="reviewBtns"> --}}
                <div class="py-1 d-flex justify-content-end my-1 mx-5">
                    <button type="submit" name="save-btn-modal" class="btn editReviewBtn text-uppercase" id="update-post-btn">update</button>
                </div>
                <div class="d-flex justify-content-end my-1 mx-5 pb-3">
                    <button type="submit" class="btn btn-outline-danger delete-review-btn deleteReviewBtn"> DELETE</button>
                </div>
            {{!-- </div> --}}
        </form>   
</section>

<script src="/javascript/delete-review.js"></script>
<script src="/javascript/edit--review.js"></script>