/* GLOBAL */ 
* {
    font-family: 'Oswald', sans-serif;
    margin: none;
}

/* SIGNUP/LOGIN PAGE */
/* NAV BAR */
.banner {
    width: 100%;
    display: block;
    background: #FFF24B;
}


.bannerText {
    display: block;
    /* justify-content: center; */
    animation: slide 10s linear infinite alternate;
}

@keyframes slide {
    0% { color: black; }
   25% { color: black; }
   50% { color: black; }
   75% { color: black; }
  100% { transform: translateX(50%); color: black; }
 }

.bg {
    max-height: 700px;
    overflow: hidden;
   display: block;
    text-align: center;
}

.img-r {
    width: 100%;
    transform:translateY(-31%);
    }

.bg-light {
    background:#fff !important;
}

.miso {
    color: #000;
    font-family: 'Lobster', cursive;
}

.hungry {
    color: #32B768;
    font-family: 'Lobster', cursive;
}
.navbar
.navbar-brand {
    color: #EF4229 !important;
    font-family: 'Lobster', cursive;
    padding: 1rem 0;
    display: block;
    font-size: 40px;
}

.navbar-toggler {
    background: #EF4229;
    border:none;
    padding: 10px 6px;
    outline: none;
}

.navbar-toggler span {
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: #fff;
}

.navbar-toggler span + span{
    margin-top: 4px;
    /* width: 18px;
    margin-left: 4px; */
}
/* .navbar-toggler span + span + span{
    margin-top: 10px;
    margin-left: 10px;
} */

.navbar-expand-lg .navbar-nav .nav-link {
   /* padding: 2rem 1.2rem; */
   font-size: 1.4rem;
   position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    border-bottom: 4px solid #EF4229;
 }
 
 .navbar-expand-lg .navbar-nav .nav-link:active {
    border-bottom: 4px solid #EF4229;
    color: #EF4229;
 }
 /* END NAV BAR STYLES */

 /* SUBHEAD */ 
 .subhead1 {
    width: 100%;
    /* max-height: 700px; */
    /* overflow: hidden; */
    display: block;
    /* text-align: center; */
    background: #fff;
}

.subheadContent1 {
 height: 500px;
}

.enterCTA {
    background: #EF4229;
    border-color: #EF4229;
}


.prefooter {
    padding-top: 15px;
    background: #FFF24B;
    border-top: 4px solid #EF4229;
}

a {
text-decoration: none;
}
.sm {
    color: #000000;
}
.sm:hover {
    color: #EF4229;
}

/* FOOTER */ 
.footer {
    padding-top: 10px;
    background-color: black;
    color: #ffffff;
}
.footsm {
    font-size: 14px;
}
